*.o
*.exe
*.tar
*.tar.gz
dist/
.vscode/
cs165_assign*
\#*
cs165_assign11.cpp
cs165_assign13.cpp
cs165_assign14.cpp
cs165_assign16.cpp
cs165_assign17.cpp
cs165_assign21.cpp
cs165_assign27.cpp
cs165_assign31.cpp
cs165_assign32.cpp
cs165_assign33.cpp
cs165_assign34.cpp
cs165_assign35.cpp
cs165_assign41.cpp
cs165_assign42.cpp
cs165_assign44.cpp
cs165_assign45.cpp
